sudo: required
services:
  - docker
language: bash

env:
  global:
    - REGISTRY_USER=praekeltorgdeploy
    - secure: "UK7h5cBSPlsL1bPJx+S7ArYKHIUjEWfsITw8M/ObTLaIQHMq2uV3J/D7K5GFkqJFX9sUGmFZBkCu1J9JwpieO1Ew79B2/g4i0aDDmhIuE+IOo5tQ6jinAmP1NEVrCvk1LUTdXwk46VbUCGNxYpv44ge1zwhRrtNpMxaIqXsSYLOXjA7p7A/IghDRYDsRIjz6TfXNKcw+qWxzUTSUjLqgcZqezvI3c9VRRgD94vKh9KpLryVtSPxGjUQTKD6cfu6Yvbz6TzVGp6QCEM9ysRdRJx0ecsP39XBj8VVnqI34ux+4sqiwdqM7SQTlaKFJK+o6dMAX5ZEkA9jQw2kWDX0Pg60zHX+vbH1vycPVaQ6ln9J68pNZx6AMFbJpDkTacrmStH9uIuH6+pN4j4gNsT4TkwtFJDcRuGI0gShqBgQVVHhGuCECfj6RZQ7K35NsQVHXQy47AkwGODu3xUwAuiMOeQVR2rEYCBnJfx+qLY5hIsPzR4MhidLPSZa5T520uhp+35pVAk95DYYEL+6N2C3wIOmtEl6gZNC1P0IgCDuTOU/u5+TCaS5C7M3aWk26SL+n3JnFeCAgLr+OYntHwW9PIen70OG1bokGdxQZ00DvF9veyQz+6IGVEG1Cm5MZv6Cp9bqgpGYMRhKBEAJyKrT+slt6ah10+eIJbT7p4HIgKBM="
    - DEFAULT_VARIANT=py2
  matrix:
    - VARIANT=py2
    - VARIANT=py3

# Update Docker Engine
before_install:
  - sudo apt-get update
  - sudo apt-get install -qy -o Dpkg::Options::="--force-confold" docker-engine

before_script:
  - image="praekeltfoundation/django-bootstrap:$VARIANT"
  - dockerfile="$VARIANT.dockerfile"
script:
  - docker build --tag "$image" --file "$dockerfile" .
  - docker build --tag "$image"-onbuild --file onbuild/"$dockerfile" onbuild
  - ./test.sh "$VARIANT"
  # FIXME: This is a quick hack
  - docker build --tag "$image"-prometheus --file prometheus/"$dockerfile" prometheus
  - container="$(docker run -d -p 8000:8000 -p 9145:9145 "$image"-prometheus nginx -g 'daemon off;')" && sleep 5
  # Make 2 requests: one 502, one 200
  - curl localhost:8000/foo && curl localhost:9145/metrics
  - metrics="$(curl localhost:9145/metrics)"
  - echo "$metrics" | fgrep 'nginx_http_requests_total{host="localhost",status="200"} 1'
  - echo "$metrics" | fgrep 'nginx_http_requests_total{host="localhost",status="502"} 1'
  - docker stop "$container" && docker rm "$container"

after_script:
  - docker images

before_deploy:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
deploy:
  provider: script
  script: ./deploy.sh "$image" "$image-onbuild" --default "$DEFAULT_VARIANT"
  on:
    branch: develop
