git+https://github.com/praekeltfoundation/seaworthy.git@5a46a03e88861e56547a365798d8407e21d98212
iso8601
pytest >= 3.3
testtools
# FIXME: Temp workaround for dependency conflict between requests 2.20.1/idna 2.8
# https://github.com/requests/requests/pull/4889
idna < 2.8
